<template>
    <div>
      <v-container class="ma-0 pa-o" grid-list-sm>
        <v-subheader>
          All Blogs
        </v-subheader>
        <v-layout wrap>
          <v-flex v-for="(blog, index) in blogs" :key="`blog-`+blog.id" xs6>
            <v-card :to="'/blog/'+blog.id">
              <v-img
                :src="blog.image"
                class="white--text"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                height="250px"
              >
                <v-card-title
                  class="fill-height align-end"
                  v-text="blog.title"
                >
                </v-card-title>
              </v-img>
            </v-card>
          </v-flex>
        </v-layout>
        <v-pagination
          v-model="page"
          @input="go"
          :length="lengthPage"
          :total-visible="6"
        >
        </v-pagination>
      </v-container>
    </div>
</template>

<script>
    export default {
        data: () => ({
          blogs: [],
          page: 0,
          lengthPage: 0
        }),
        created(){
          this.go()
        },
        methods : {
          go(){
            let url = 'api/blog?page=' + this.page
            axios.get(url)
            .then((response) => {
              let { data } = response.data

              this.blogs = data.blogs.data
              this.page = data.blogs.current_page
              this.lengthPage = data.blogs.last_page
            })
            .catch((error) => {
                let { response } = error
                console.log(response)
            })
          }
        }
    }
</script>
